<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Yıllık Taslak Prim Hesaplama
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.YILLIK_TASLAK_PRIM_HESAPLAMA]" class="m-portlet m-portlet--full-height m--padding-25">


      <ul class="nav nav-tabs  m-tabs-line" role="tablist">
          <li class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab"
                 aria-expanded="true">
                  Over Achievement
              </a>
          </li>
          <li [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.ROLLER]" class="nav-item m-tabs__item">
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab"
                 aria-expanded="false">
                 Telafi
              </a>
          </li>
          <li [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.SICIL_ROL_ATAMA]" class="nav-item m-tabs__item"  >
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab"
                 aria-expanded="false">
                  Karlılık
              </a>
          </li>
          <li [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.UNVAN_ROL_ATAMA]" class="nav-item m-tabs__item" >
              <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab"
                 aria-expanded="false">
                  Shrinkage
              </a>
          </li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel" aria-expanded="true">

              <form class="m-form m-form--label-align-left- m-form--state-" #f="ngForm">
                  <div class="m-portlet__body">
                      <h4> Over Achievement </h4>


                      <div class="tab-content">
                          <div class="tab-pane active" id="m_widget2_tab1_content">
                              <div class="m-widget2">

                                  <premium-calculator [type]="'overAchievement'" [brandType]="'shaya'" [brands]="brands" [stores]="stores" [positions]="positions" [years]="years" [screen]="rights.YILLIK_TASLAK_PRIM_HESAPLAMA" (valueChange)='submit($event)'></premium-calculator>

                              </div>
                          </div>
                      </div>


                  </div>
              </form>

          </div>
          <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">

              <form class="m-form m-form--label-align-left- m-form--state-" #f="ngForm">
                  <div class="m-portlet__body">
                      <h4> Telafi </h4>


                      <div class="tab-content">
                          <div class="tab-pane active" id="m_widget2_tab1_content2">
                              <div class="m-widget2">

                                  <premium-calculator [type]="'telafi'" [brandType]="'shaya'" [brands]="brands" [stores]="stores" [positions]="positions" [years]="years" [screen]="rights.YILLIK_TASLAK_PRIM_HESAPLAMA" (valueChange)='submit($event)'></premium-calculator>

                              </div>
                          </div>
                      </div>


                  </div>
              </form>

          </div>
          <div class="tab-pane" id="m_tabs_6_3" role="tabpanel" >

              <form class="m-form m-form--label-align-left- m-form--state-" #f="ngForm">
                  <div class="m-portlet__body">
                      <h4> Karlılık </h4>


                      <div class="tab-content">
                          <div class="tab-pane active" id="m_widget2_tab1_content3">
                              <div class="m-widget2">

                                  <premium-calculator [type]="'karlilik'" [brandType]="'shaya'" [brands]="brands" [stores]="stores" [positions]="positions" [years]="years" [screen]="rights.YILLIK_TASLAK_PRIM_HESAPLAMA" (valueChange)='submit($event)'></premium-calculator>

                              </div>
                          </div>
                      </div>


                  </div>
              </form>

          </div>
          <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">

              <form class="m-form m-form--label-align-left- m-form--state-" #f="ngForm">
                  <div class="m-portlet__body">
                <h4> Shrinkage</h4>

                      <div class="tab-content">
                          <div class="tab-pane active" id="m_widget2_tab1_content4">
                              <div class="m-widget2">

                                  <premium-calculator [type]="'shrinkage'" [brandType]="'shaya'" [brands]="brands" [stores]="stores" [positions]="positions" [years]="years" [screen]="rights.YILLIK_TASLAK_PRIM_HESAPLAMA" (valueChange)='submit($event)'></premium-calculator>

                              </div>
                          </div>
                      </div>


                  </div>
              </form>

          </div>
      </div>













    <!--begin::Modal-->
    <div class="modal fade" id="process_bar_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabelEdit"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelEdit">
              İşlem Durumu
            </h5>

            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
            </button>
            -->
          </div>
          <div class="modal-body">
            <div class="clearfix"></div>
                <div class="text-center">{{process}} / {{total}} </div>
              <progress-bar [progress]="progressValue" [color]="'#488aff'">
              </progress-bar>

            <div class="clearfix"></div>
          </div>
          <div class="modal-footer">
          <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Kapat
            </button>
            -->
          </div>
        </div>

      </div>
    </div>




  </div>
</div>
