<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Aylık Prim
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.PRIMLER_AYLIK]" >
    <div class="m-portlet m-portlet--full-height">



        <form class="m-form m-form--label-align-left- m-form--state- m--padding-25" (ngSubmit)="f.form.valid && findAll(null)" #f="ngForm">
            <div class="m-form__section m-form__section--first">
                <div class="form-group m-form__group row">


                    <div class="col-sm-4">
                        <label class="col-sm-2 col-form-label">Marka</label>
                        <div class="col-sm-8">
                            <p-dropdown [options]="brands" placeholder="Marka" [(ngModel)]="model.brandId" [ngModelOptions]="{standalone: true}" (onChange)="setStores($event.value)"></p-dropdown>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label class="col-sm-2 col-form-label">Mağaza</label>
                        <div class="col-sm-8">
                            <p-dropdown [options]="stores" placeholder="Mağaza" [(ngModel)]="model.storeId" [ngModelOptions]="{standalone: true}" [filter]="true"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="col-sm-2 col-form-label text-right required">Tarih</label>
                        <div class="col-sm-10">
                            <p-dropdown [options]="years" placeholder="Yıl" [(ngModel)]="model.year" [ngModelOptions]="{standalone: true}"></p-dropdown>
                            /
                            <p-dropdown [options]="months" placeholder="Ay" [(ngModel)]="model.month" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>
                    </div>
                    <div class="col-sm-2" style="margin-top: 30px;">
                        <button type="button" [disabled]="selectedItems.length===0" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="draftToFinal()">
                      <span>
                        <i class="la la-save"></i>
                        <span>Onayla</span>
                      </span>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <label class="col-sm-2 col-form-label text-right">Durum</label>
                        <div class="col-sm-10">
                            <p-dropdown [options]="draftOrFinal" placeholder="Durum" [(ngModel)]="model.final" [ngModelOptions]="{standalone: true}"></p-dropdown>

                        </div>
                    </div>
                    <div class="offset-4 col-sm-2" style="margin-top: 30px;">
                        <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="findAll(null)">
              <span>
                <i class="la la-search"></i>
                <span>Ara</span>
              </span>
                        </button>
                    </div>
                    <div class="col-sm-2" style="margin-top: 30px;">
                        <button class="btn btn-success  m-btn  m-btn m-btn--icon"
                                (click)="downloadExcel()"><span><i class="fa 	fa-file-excel-o"></i><span>{{'actions.exportCsv' | translate}}</span></span>
                        </button>
                    </div>
                </div>
            </div>

        </form>

<style>

</style>
        <form class="m-form m-form--label-align-left- m-form--state-"  #f="ngForm">
            <div class="m-portlet__body">


                <div class="tab-content">
                    <div class="tab-pane active" id="m_widget2_tab1_content">
                        <div class="m-widget2">
                            <div class="alert alert-info">Bu ekrandaki gerçekleşen alanı iadeler düşüldükten sonra hesaplanan net satış verilerini göstermektedir. </div>

                            <!--begin:: dataTable -->
                            <p-growl></p-growl>
                            <p-dataTable
                                    [value]="list" [lazy]="true" [rows]="pageable.size" [paginator]="true"
                                    [page]="pageable.page" [rowsPerPageOptions]="[50,100,500]"
                                    [totalRecords]="totalRecords" (onLazyLoad)="findAll($event)" sortField="brand"
                                    [sortOrder]="-1"  resizableColumns="true"
                                    scrollable="true"
                                    [style]="{width:'500px'}"
                                    scrollHeight="200px"
                                    [resizableColumns]="true" responsive="true"
                                    [(selection)]="selectedItems" [dataKey]="'id'">
                                <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

                                <p-column [field]="'brand'" [header]="'Marka'" [style]="{'width': '150px'}" [sortable]="true"></p-column>
                                <p-column [field]="'store'" [header]="'Mağaza'" [style]="{'width': '150px'}"  [sortable]="true"></p-column>
                                <p-column [field]="'sicil'" [header]="'Sicil'"  [style]="{'width': '80px'}"  [sortable]="true"></p-column>
                                <p-column [style]="{'width':'70px'}" styleClass="col-button"
                                          [hasRight]="[rights.DEGISTIRME,rights.PRIMLER_AYLIK]">
                                    <ng-template pTemplate="header">Hesaplamalar</ng-template>
                                    <ng-template let-car="rowData" pTemplate="m-body">
                                        <a [routerLink]="['/premium-monthly/',car.sicil]" target="_blank" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill">
                                            <i class="la la-eye"></i>
                                        </a>
                                    </ng-template>
                                </p-column>
                                <p-column [field]="'name'" [header]="'Ad'"  [style]="{'width': '150px'}"  [sortable]="true"></p-column>
                                <p-column [field]="'surname'" [header]="'Soyad'"  [style]="{'width': '150px'}" [sortable]="true"></p-column>
                                <p-column [field]="'position'" [header]="'Pozisyon'" [style]="{'width': '150px'}"   [sortable]="true"></p-column>
                                <p-column [field]="'target'" [header]="'Hedef'" [style]="{'width': '100px'}"  [sortable]="true"></p-column>
                                <p-column [field]="'actual'" [header]="'Gerçekleşen'" [style]="{'width': '150px'}"   [sortable]="true"></p-column>
                                <p-column [field]="'actualBrut'" [header]="'Gerçekleşen Brüt'" [style]="{'width': '150px'}" [sortable]="true"></p-column>
                                <p-column [field]="'month'" [header]="'Periyot'" [style]="{'width': '150px'}" [sortable]="true"></p-column>
                                <p-column [field]="'bonus'" [header]="'Prim Tutarı'" [style]="{'width': '150px'}"  [sortable]="true"></p-column>
                                <p-column [field]="'final'" [sortable]="true" [style]="{'width': '150px'}"
                                          [header]="'Durum'">
                                    <ng-template let-row="rowData" pTemplate="body">
                                        {{ (row.final==true?"Final":"Taslak")}}
                                    </ng-template>
                                </p-column>
                                <p-column [field]="'bonusState'" [style]="{'width': '150px'}"  [header]="'Prim Alma Durumu'"  [sortable]="true"></p-column>
                                <p-column [field]="'bonusRate'"  [style]="{'width': '150px'}"  [header]="'Prim Oranı'"  [sortable]="true"></p-column><p-column [field]="'bonusTotalDays'"  [style]="{'width': '100px'}"  [header]="'Prim Gün Sayısı'"  [sortable]="true"></p-column>
                                <p-column [field]="'bonusFreeDays'" [style]="{'width': '100px'}"  [header]="'Kesilecek Rapor/Ücretsiz İzin Gün Sayısı'"  [sortable]="true"></p-column>
                                <p-column [field]="'bonusPayDays'"  [style]="{'width': '100px'}"  [header]="'Prim Ödenecek Gün Sayısı'"  [sortable]="true"></p-column>
                                <p-column [field]="'discipline'" [style]="{'width': '150px'}"  [header]="'Disiplin Ceza Bilgisi'"  [sortable]="true"></p-column>
                                <p-column [field]="'notes'" [style]="{'width': '150px'}"  [header]="'Notlar'"  [sortable]="true"></p-column>

                                <ng-template pTemplate="paginatorLeft"><span class="total-records-count"> {{'table.label.totalCount' | translate}} {{totalRecords}} </span></ng-template>
                                <ng-template pTemplate="emptymessage"><span class="text-center emptyTable">{{ 'table.label.emptyMessage' | translate}}</span> </ng-template>

                            </p-dataTable>
                            <!--end:: dataTable -->
                            <div *ngIf="storeActual != null" class="alert alert-info"> İade periyodu {{storeActual.iadeBaslangic}}-{{storeActual.iadeSonu}} tarihleri arasındadır.
                                Personel net satış formülü aşağıdaki gibidir: <strong>Personel Net = Personel Brüt x (Mağaza Net / Mağaza Brüt)</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
