<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Formüller
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a routerLink="/" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div  [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.FORMULLER]"  class="m-content">
	<div>

		<form class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="submit()">
			<div class="m-portlet__body">


                <div class="row" *ngFor="let parameter of this.formulaTemplate.parametres;">
                    <div class="col-xl-12">
                        <div class="m-form__section m-form__section--first" style="margin-bottom: 15px">
                            <div class="form-group m-form__group row">
                                <div class="col-sm-4">
                                    <div class="form-control form-control-sm">
                                        {{parameter.key}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-control form-control-sm">
                                        {{parameter.value}}
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group m-form__group">
                                        <input type="text" class="form-control form-control-sm m-input"  [(ngModel)]="parameter.result" [ngModelOptions]="{standalone: true}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



        <div>
          <div class="row" *ngFor="let formula of formulas;">
            <div class="col-xl-8">
              <div class="m-form__section m-form__section--first">
             <!--   <div class="m-form__heading">
                  <h3 class="m-form__heading-title">{{formula.value.name}}</h3>
                </div>
                -->
                <div class="form-group m-form__group">
                  <textarea class="form-control m-input" style="min-height: 100px" [(ngModel)]="formula.content" [ngModelOptions]="{standalone: true}"></textarea>
                  <span class="m-form__help">Ondalık karakter olarak nokta (.) kullanın</span>
                </div>
              </div>
            </div>

              <div  class="col-xl-2" style="margin-top:30px;">
                  <button type="button" class="btn btn-success m-btn m-btn--icon m-btn--wide m-btn--md" (click)="test(formula)">
                      <span>
                        <i class="la la-calculator"></i>
                        <span>Test Et</span>
                      </span>
                  </button>
              </div>
              <div class="col-sm-2">
                  <div class="form-control form-control-sm calc-result">
                    {{this.calculate}}
                  </div>
              </div>
          </div>
        </div>
			</div>
			<div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.FORMULLER]"   class="offset-6" style="margin-top: 30px;">
                <div  class="col-xl-3">
                <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="submit()">
                  <span>
                    <i class="la la-check"></i>
                    <span>Kaydet</span>
                  </span>
                  </button>
                </div>
            </div>
		</form>
	</div>
</div>
