<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
          Hedef Oranları
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.HEDEF_ORANLARI]" class="m-content">
  <div>
    <form class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="f.form.valid && submit()" #f="ngForm">
      <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
          <div class="form-group m-form__group row">
            <label class="col-sm-2 col-form-label text-right">Marka</label>
            <div class="col-sm-10">
              <p-dropdown [options]="brands" placeholder="Seçiniz" [(ngModel)]="brandId" (onChange)="getBrandSaleSplitByBrandId($event.value)" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>
          </div>


            <div class="row" *ngFor="let item of targetRates;">
                <div class="col-xl-12">
                    <div class="m-form__section m-form__section--first" style="margin-bottom: 15px">
                        <div class="form-group m-form__group row">
                            <div class="col-sm-4">
                                <div class="form-control form-control-sm">
                                    {{item.position.name}}
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                    <input type="text" class="form-control form-control-sm m-input"  [(ngModel)]="item.baseRate" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>






      </div>
      <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.HEDEF_ORANLARI]"  style="margin-top: 20px; text-align: right" *ngIf="brandId>0">
        <button type="button" disabled="disabled" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="submit()">
          <span>
            <i class="la la-check"></i>
            <span>Kaydet</span>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
