<div class="m-form__section m-form__section--first">
    <div class="form-group m-form__group row">


        <div class="col-sm-4">
            <label class="col-sm-2 col-form-label">Marka</label>
            <div class="col-sm-8">
                <p-dropdown [options]="brands" placeholder="Marka" [(ngModel)]="model.brandId" [ngModelOptions]="{standalone: true}" (onChange)="setStores($event.value)"></p-dropdown>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-2 col-form-label">Mağaza</label>
            <div class="col-sm-8">
                <p-dropdown [options]="stores" placeholder="Mağaza" [(ngModel)]="model.storeId" [ngModelOptions]="{standalone: true}"  [filter]="true"></p-dropdown>
            </div>
        </div>

        <div class="col-sm-4">
            <label class="col-sm-2 col-form-label text-right required">Yıl</label>
            <div class="col-sm-10">
                <p-dropdown [options]="years" placeholder="Yıl" [(ngModel)]="model.year" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>
        </div>
        <div class="col-sm-2" style="margin-top: 30px;">
            <button type="button" [disabled]="selectedItems.length===0" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="draftToFinalShrinkage()">
                      <span>
                        <i class="la la-save"></i>
                        <span>Onayla</span>
                      </span>
            </button>
        </div>
        <div class="col-sm-2">
            <label class="col-sm-2 col-form-label text-right">Durum</label>
            <div class="col-sm-10">
                <p-dropdown [options]="draftOrFinal" placeholder="Durum" [(ngModel)]="model.final" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>
        </div>
        <div class="offset-4 col-sm-2" style="margin-top: 30px;">
            <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="findAll(null)">
                          <span>
                            <i class="la la-search"></i>
                            <span>Ara</span>
                          </span>
            </button>
        </div>
        <div class="col-sm-2" style="margin-top: 30px;">
            <button class="btn btn-success  m-btn  m-btn m-btn--icon"
                    (click)="exportCSV()"><span><i class="fa 	fa-file-excel-o"></i><span>{{'actions.exportCsv' | translate}}</span></span>
            </button>
        </div>
    </div>
</div>
<div class="m-portlet__body">


    <div class="tab-content">
        <div class="tab-pane active" id="m_widget2_tab1_content">
            <div class="m-widget2">

                <!--begin:: dataTable -->
                <p-growl></p-growl>
                <p-dataTable
                        [value]="listShrinkage" [lazy]="true" [rows]="pageable.size" [paginator]="true"
                        [page]="pageable.page" [rowsPerPageOptions]="[50,100,500]"
                        [totalRecords]="totalRecords" (onLazyLoad)="findAll($event)" sortField="brand"
                        [sortOrder]="-1"
                        scrollable="false"
                        scrollHeight="500px"
                        [(selection)]="selectedItems" [dataKey]="'id'">
                    <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                    <p-column [field]="'a'" [sortable]="true" [style]="{'width':'100px'}"
                              [header]="'PRİM HESAPLAMASI YAPILAN AY'">
                    </p-column>
                    <p-column [field]="'b'" [sortable]="true"  [style]="{'width':'150px'}"
                              [header]="'İŞYERİ ADI'">
                    </p-column>

                    <p-column [field]="'c'" [sortable]="true"  [style]="{'width':'100px'}"
                              [header]="'SİCİL NO'">
                    </p-column>

                    <p-column [field]="'d'" [sortable]="true" [style]="{'width':'150px'}"
                              [header]="'AD SOYAD'">
                    </p-column>

                    <p-column [field]="'e'" [sortable]="true" [style]="{'width':'100px'}"
                              [header]="'ÜCRET'">
                    </p-column>

                    <p-column [field]="'f'" [sortable]="true" [style]="{'width':'150px'}"
                              [header]="'ÜNVAN'">
                    </p-column>

                    <p-column [field]="'g'" [sortable]="true" [style]="{'width':'100px'}"
                              [header]="'İŞE GİRİŞ TARİHİ'">
                    </p-column>

                    <p-column [field]="'h'" [sortable]="true"  [style]="{'width':'100px'}"
                              [header]="'TRANSFER TARİHİ'">
                    </p-column>

                    <p-column [field]="'i'" [sortable]="true"  [style]="{'width':'100px'}"
                              [header]="'PRİM ALMA  DURUMU'">
                    </p-column>

                    <p-column [field]="'j'" [sortable]="true"  [style]="{'width':'100px'}"
                              [header]="'PRİM ORANI'">
                    </p-column>

                    <p-column [field]="'k'" [sortable]="true" [style]="{'width':'100px'}"
                              [header]="'YILLIK PRİM TUTARI'">
                    </p-column>

                    <p-column [field]="'l'" [sortable]="true" [style]="{'width':'100px'}"
                              [header]="'PRİM GÜN SAYISI'">
                    </p-column>

                    <p-column [field]="'m'" [sortable]="true" [style]="{'width':'100px'}"
                              [header]="'KESİLECEK RAPOR/ÜCRETSİZ İZİN GÜN SAYISI'">
                    </p-column>

                    <p-column [field]="'n'" [sortable]="true" [style]="{'width':'100px'}"
                              [header]="'ÖDENECEK PRİM GÜN SAYISI'">
                    </p-column>

                    <p-column [field]="'o'" [sortable]="true" [style]="{'width':'100px'}"
                              [header]="'ÖDENECEK TELAFİ NET PRİM TUTARI'">
                    </p-column>

                    <p-column [field]="'p'" [sortable]="true" [style]="{'width':'150px'}"
                              [header]="'DİSİPLİN CEZASI'">
                    </p-column>

                    <p-column [field]="'q'" [sortable]="true" [style]="{'width':'150px'}"
                              [header]="'AÇIKLAMA'">
                    </p-column>

                    <ng-template pTemplate="paginatorLeft"><span class="total-records-count"> {{'table.label.totalCount' | translate}} {{totalRecords}} </span></ng-template>
                    <ng-template pTemplate="emptymessage"><span class="text-center emptyTable">{{ 'table.label.emptyMessage' | translate}}</span> </ng-template>

                </p-dataTable>
                <!--end:: dataTable -->

            </div>
        </div>
    </div>


</div>
