<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
          Merkez Yıllık Line Hedefler
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.MERKEZ_YILLIK_LINE_HEDEFLER]"  class="m-portlet m-portlet--full-height m--padding-25">

        <div class="tab-content">
          <div class="tab-pane active" id="m_widget2_tab1_content">
            <div class="m-widget2">


              <form class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="submit()" #f="ngForm">
                  <div class="m-form__section m-form__section--first">


                   <div>
                      <div *ngIf="list.length>0" class="row">
                        <div class="col-xl-12">
                          <div class="m-form__section m-form__section--first" style="margin-bottom: 15px">
                            <div class="form-group m-form__group row">
                              <div class="col-sm-3 pad0">
                                <div class="form-control form-control-sm" style="background-color: #f2f3f8;text-align: center">
                                   Bölüm / Pozisyon
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="form-control form-control-sm" style="background-color: #f2f3f8;text-align: center">
                                 Hedef
                                </div>
                              </div>
                                <div class="col-sm-1">
                                    <div class="form-control form-control-sm" style="background-color: #f2f3f8;text-align: center">
                                        Ağırlık-1
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-control form-control-sm" style="background-color: #f2f3f8;text-align: center">
                                        Hedef
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-control form-control-sm" style="background-color: #f2f3f8;text-align: center">
                                        Ağırlık-2
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-control form-control-sm" style="background-color: #f2f3f8;text-align: center">
                                        Hedef
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-control form-control-sm" style="background-color: #f2f3f8;text-align: center">
                                        Ağırlık-3
                                    </div>
                                </div>
                               </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngFor="let item of list; let i=index">
                        <div class="col-xl-12">
                          <div class="m-form__section m-form__section--first" style="margin-bottom: 15px">
                            <div class="form-group m-form__group row">
                             <div class="col-sm-3 pad0">
                                <div class="form-control form-control-sm" style="background-color: #f9f9f9;text-align: center">
                                  {{item.unitStr}} / {{item.titleStr}}
                                    </div>
                                </div>
                              <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                    <select class="form-control m-input" [(ngModel)]="item.ln1" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let option of targets" [value]="option.value">
                                          {{option.label}}
                                        </option>
                                    </select>
                                </div>
                              </div>
                                <div class="col-sm-1">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" [(ngModel)]="item.weight1" [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>
                              <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                    <select class="form-control m-input" [(ngModel)]="item.ln2" [ngModelOptions]="{standalone: true}">
                                        <option *ngFor="let option of targets" [value]="option.value">
                                            {{option.label}}
                                        </option>
                                    </select>
                                </div>
                              </div>
                                <div class="col-sm-1">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" [(ngModel)]="item.weight2" [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group m-form__group">
                                        <select class="form-control m-input" [(ngModel)]="item.ln3" [ngModelOptions]="{standalone: true}">
                                            <option *ngFor="let option of targets" [value]="option.value">
                                                {{option.label}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-1">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" [(ngModel)]="item.weight3" [ngModelOptions]="{standalone: true}" />
                                    </div>
                                </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>


,                <div *ngIf="list.length>0" [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.MERKEZ_YILLIK_LINE_HEDEFLER]" style="margin-top: 20px; text-align: right">
                  <button type="submit" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md">
                    <span>
                      <i class="la la-check"></i>
                      <span>Kaydet</span>
                    </span>
                  </button>
                </div>
              </form>



            </div>
          </div>
        </div>

  </div>
</div>
