<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
  <i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
  <div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark"
       data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">

        <li class="m-menu__item" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
            <a  routerLink="/" class="m-menu__link">
                <i class="m-menu__link-icon flaticon-line-graph"></i>
                <span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								 {{'aside-nav.dashboard'| translate }}
							</span>
						</span>
					</span>
            </a>
        </li>
        <li class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true"  data-menu-submenu-toggle="hover">
            <a  href="#" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-settings"></i>
                <span class="m-menu__link-text">
							 Ayarlar
					</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    <li class="m-menu__item  m-menu__item--parent" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
							<span class="m-menu__link">
								<span class="m-menu__link-text">
									TEST
								</span>
							</span>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.PARAMETRELER]" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/parameters" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
										Parametreler
								</span>
                        </a>
                    </li>
                    <li [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.FORMULLER]" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/formulas" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Formüller
								</span>
                        </a>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.ROLLER]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/role" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Rol ve Yetki
                            </span>
                        </a>
                    </li>
                    <li [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.INDIRIM_DONEMI]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/discount-period" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									İndirim Dönemi
								</span>
                        </a>
                    </li>
                    <li [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.HEDEF_ORANLARI]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/target-rate" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Hedef Oranları
                            </span>
                        </a>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.PRIM_ORANLARI]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/premium-rate" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									VS Prim Oranları
								</span>
                        </a>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.SLT_PRIM_ORANLARI]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/slt-premium-rate" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Shaya Prim Oranları
								</span>
                        </a>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.SHAYA_YILLIK_PRIM_ORANLARI]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/shaya-annual-premium-rate" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Shaya Yıllık Prim Oranları
								</span>
                        </a>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.LBRANDS_TELAFI_PRIM_ORANLARI]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/brands-compensation-premium-rate" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									LBRANDS Telafi Prim Oranları
								</span>
                        </a>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.MERKEZ_YILLIK_LINE_HEDEFLER]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/center-annual-line-goal" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Merkez Yıllık Line Hedefler
								</span>
                        </a>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.SHAYA_OVERACH_PRIM_ORANLARI]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/shaya-overach-premium-rate" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Shaya Overach Prim Oranları
								</span>
                        </a>
                    </li>
                    <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.YILLIK_PRIM_ALMAYACAK_UNVANLAR]"  class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/title-not-annual-bonus" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Yıllık Prim Almayacak Ünvanlar
							</span>
                        </a>
                    </li>
                    <li [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.VERI_GIRISI]" class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }"  aria-haspopup="true" >
                        <a  routerLink="/data-input" class="m-menu__link">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot">
                                <span></span>
                            </i>
                            <span class="m-menu__link-text">
									Veri Yükleme
								</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

        <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.AYLIK_HEDEFLER]"  class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" data-menu-submenu-toggle="hover">
            <a routerLink="/monthly-goal" class="m-menu__link">
                <i class="m-menu__link-icon flaticon-layers"></i>
                <span class="m-menu__link-text">Aylık Hedef</span>
            </a>
        </li>

        <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.PRIM_HESAPLAMA_AYLIK]" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" data-menu-submenu-toggle="hover">
            <a routerLink="/bonus-calculate-monthly" class="m-menu__link">
                <i class="m-menu__link-icon flaticon-suitcase"></i>
                <span class="m-menu__link-text">Aylık Taslak Prim Hesaplama</span>
            </a>
        </li>
        <li  [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.YILLIK_TASLAK_PRIM_HESAPLAMA]" class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" data-menu-submenu-toggle="hover">
            <a routerLink="/annual-draft-premium-calculator" class="m-menu__link">
                <i class="m-menu__link-icon flaticon-suitcase"></i>
                <span class="m-menu__link-text">Yıllık Taslak Prim Hesaplama</span>
            </a>
        </li>
        <li [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.PRIMLER_AYLIK]"  class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" data-menu-submenu-toggle="hover">
            <a routerLink="/premium-monthly" class="m-menu__link">
                <i class="m-menu__link-icon flaticon-computer"></i>
                <span class="m-menu__link-text">Aylık Prim</span>
            </a>
        </li>
        <li [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.YILLIK_PRIM]"  class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" data-menu-submenu-toggle="hover">
            <a routerLink="/annual-premium" class="m-menu__link">
                <i class="m-menu__link-icon flaticon-computer"></i>
                <span class="m-menu__link-text">Yıllık Prim</span>
            </a>
        </li>
        <li [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.GERCEKLESEN_AYLIK]"  class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" data-menu-submenu-toggle="hover">
            <a routerLink="/realized-monthly" class="m-menu__link">
                <i class="m-menu__link-icon flaticon-list-3"></i>
                <span class="m-menu__link-text">Hedef-Gerçekleşen</span>
            </a>
        </li>

        <li [hasAnyRight]="[rights.GORME,rights.DEGISTIRME,  rights.MERKEZ_TASLAK_YILLIK_PRIM_HESAPLAMA]"  class="m-menu__item  m-menu__item--submenu" routerLinkActive="m-menu__item--active" data-menu-submenu-toggle="hover">
            <a routerLink="/central-draft-annual-premium-calculation" class="m-menu__link">
                <i class="m-menu__link-icon flaticon-list-3"></i>
                <span class="m-menu__link-text">Merkez Taslak Yıllık Prim Hesaplama</span>
            </a>
        </li>

    </ul>
  </div>
</div>
