<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        İndirim Dönemi
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.INDIRIM_DONEMI]" class="m-content">
  <div>
    <form class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="f.form.valid && submit()" #f="ngForm">
      <div class="m-portlet__body">
        <div class="m-form__section m-form__section--first">
          <div class="form-group m-form__group row">
            <label class="col-sm-2 col-form-label text-right">Marka</label>
            <div class="col-sm-10">
              <p-dropdown [options]="brands" placeholder="Seçiniz" [(ngModel)]="sasmonth.brand.id" (onChange)="getDiscountPeriodByBrandId($event.value)" [ngModelOptions]="{standalone: true}"></p-dropdown>
            </div>
          </div>
            <div *ngIf="sasmonth.brand.id>0">
            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Ocak </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m01" type="checkbox" id="m01" name="m01">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Şubat </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m02" type="checkbox" id="m02" name="m02">
                </div>
            </div>
            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Mart </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m03" type="checkbox" id="m03" name="m03">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Nisan </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m04" type="checkbox" id="m04" name="m04">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Mayıs </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m05" type="checkbox" id="m05" name="m05">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Haziran </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m06" type="checkbox" id="m06" name="m06">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Temmuz </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m07" type="checkbox" id="m07" name="m07">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Ağustos </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m08" type="checkbox" id="m08" name="m08">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Eylül</label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m09" type="checkbox" id="m9" name="m9">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Ekim </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m10" type="checkbox" id="m10" name="m10">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Kasım </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m11" type="checkbox" id="m11" name="m11">
                </div>
            </div>

            <div class="row">
                <label class="col-sm-2 col-form-label text-right"> Aralık </label>
                <div class="col-sm-10" style="margin-top: 10px;">
                    <input [(ngModel)]="sasmonth.m12" type="checkbox" id="m12" name="m12">
                </div>
            </div>
            </div>
        </div>






      </div>
      <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.INDIRIM_DONEMI]"  style="margin-top: 20px; text-align: right" *ngIf="sasmonth.brand.id>0">
        <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="submit()">
          <span>
            <i class="la la-check"></i>
            <span>Kaydet</span>
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
