<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Parametreler
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a routerLink="/" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.PARAMETRELER]" class="m-content">
	<div>
		<form class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="f.form.valid && submit()" [formGroup]="form" #f="ngForm">
			<div class="m-portlet__body">
        <div formArrayName="parameters">
          <div class="row" *ngFor="let parameter of parameters; let i=index" [formGroupName]="i">
            <div class="col-xl-12">
              <div class="m-form__section m-form__section--first" style="margin-bottom: 15px">
                <div class="form-group m-form__group row">
              <!--    <div class="col-sm-4">
                    <div class="form-control form-control-sm">
                      {{parameter.value.title}}
                    </div>
                  </div>
                  -->
                  <div class="col-sm-6">
                      <div class="form-control form-control-sm">
                          {{parameter.value.description}}
                      </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group m-form__group">
                      <input type="hidden" [value]="parameter.value.id" formControlName="id">
                      <input type="text" class="form-control form-control-sm m-input" [value]="parameter.value.value" formControlName="value">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
			</div>

     <div class="col-sm-8">
      <div  [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.PARAMETRELER]"   style="margin-top: 20px; text-align: right">
        <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="submit()">
          <span>
            <i class="la la-check"></i>
            <span>Kaydet</span>
          </span>
        </button>
      </div>
     </div>
	 </form>

	</div>
</div>
