<div class="m-portlet m-portlet--full-height">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">

                </h3>
            </div>
        </div>
        <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.SICIL_ROL_ATAMA]" class="m-portlet__head-tools">
            <button class="btn btn-primary btn-sm m-btn  m-btn m-btn--icon m-btn--pill" data-toggle="modal" data-target="#edit_modal_sicil" (click)="add()"><span><i class="fa flaticon-add"></i><span>{{'actions.add' | translate}}</span></span></button>
            <button class="btn btn-danger btn-sm m-btn  m-btn m-btn--icon m-btn--pill" data-toggle="modal" data-target="#delete_modal_sicil" [disabled]="selectedItems.length===0" ><span><i class="fa flaticon-delete"></i><span>{{'actions.selected-remove' | translate}}</span></span></button>
        </div>
    </div>


    <div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.SICIL_ROL_ATAMA]" class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active" id="m_widget2_tab1_content">
                <div class="m-widget2">

                    <!--begin:: dataTable -->
                    <p-dataTable [value]="list"
                                 sortField="id"
                                 [sortOrder]="-1"
                                 scrollable="true"
                                 scrollHeight="500px"
                                 [selectionMode]="'multiple'"
                                 [(selection)]="selectedItems"
                                 [dataKey]="'id'"
                                 emptyMessage="{{ 'table.label.emptyMessage' | translate}}"
                                 class="m_datatable">

                        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
                        <p-column *ngFor="let col of cols" [field]="col.field"
                                  [header]="col.header"
                                  [sortable]="true"></p-column>

                        <p-column [style]="{'width':'60px'}" styleClass="col-button">
                            <ng-template pTemplate="header">
                            </ng-template>
                            <ng-template let-car="rowData" pTemplate="body">
                                <a  [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.SICIL_ROL_ATAMA]" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                   data-toggle="modal"
                                   data-target="#delete_modal_sicil" (click)="remove(car)"><i
                                        class="la la-trash"></i>
                                </a>
                            </ng-template>
                        </p-column>

                        <ng-template pTemplate="paginatorLeft"><span class="total-records-count"> {{'table.label.totalCount' | translate}} {{totalRecords}} </span></ng-template>

                    </p-dataTable>
                    <!--end:: dataTable -->

                </div>
            </div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="edit_modal_sicil" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabelEdit"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabelEdit">
                    Role Yetki Tanımlama
                </h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="clearfix"></div>
                <form #sicilForm="ngForm"
                      class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"
                      (submit)="saveOrCreate(sicilForm.form.valid)">
                        <div class="form-row">

                            <div class="col-lg-6">
                                <label>Sicil </label>
                                <input class="form-control m-input"
                                       placeholder="Sicil giriniz"
                                       type="sicil"
                                       [(ngModel)]="registryRoleAssignmentNew.sicil"
                                       id="sicil" name="sicil"
                                       #inputSicil="ngModel" required
                                >

                                <div class="has-danger" *ngIf="sicilForm.hasError('required', 'name') && (sicilForm.submitted || inputSicil.touched) ">
                                                 <span class="form-control-feedback" [translate]="'form.placeholder'"
                                                       [translateParams]="{value: 'Sicil'}">
                                                </span>
                                </div>
                            </div>


                        </div>
                </form>

                <div class="clearfix"></div>
             </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{'actions.cancel' | translate}}
                </button>
                <button type="button" class="btn btn-primary" (click)="registryRoleAssignmentAdd()" data-dismiss="modal">
                    {{'actions.save' | translate}}
                </button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="delete_modal_sicil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{'actions.delete' | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                </button>
            </div>
            <div class="modal-body">
                {{'question.delete' | translate}}
                <p-footer>
                    <ul>
                        <li *ngFor="let item of selectedItems" style="text-align: left">
                            {{item.role.name}} -
                            {{item.sicil}}
                        </li>
                    </ul>
                </p-footer>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    {{'actions.no' | translate}}
                </button>
                <button type="button" class="btn btn-primary" (click)="removes()" data-dismiss="modal">
                    {{'actions.yes' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>

<p-growl> </p-growl>