<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Aylık Hedef
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.AYLIK_HEDEFLER]" >
    <div class="m-portlet m-portlet--full-height">

        <div class="form-group m-form__group row m--padding-25">


            <div class="col-sm-3 padL0">
                <label class="col-sm-2 col-form-label text-right">Marka</label>
                <div class="col-sm-8">
                    <p-dropdown [options]="brands" placeholder="Marka" [(ngModel)]="monthlyGoal.brandId" [ngModelOptions]="{standalone: true}" (onChange)="setStores($event.value)"></p-dropdown>
                </div>
            </div>

            <div class="col-sm-3">
                <label class="col-sm-2 col-form-label text-right">Mağaza</label>
                <div class="col-sm-8">
                    <p-dropdown [options]="stores" placeholder="Mağaza" [(ngModel)]="monthlyGoal.store.id" [ngModelOptions]="{standalone: true}"  [filter]="true"></p-dropdown>
                </div>
            </div>

            <div class="col-sm-4">
                <label class="col-sm-2 col-form-label text-right">Tarih</label>
                <div class="col-sm-10">
                    <p-dropdown [options]="years" placeholder="Yıl" [(ngModel)]="monthlyGoal.year" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    /
                    <p-dropdown [options]="months" placeholder="Periyot" [(ngModel)]="monthlyGoal.month" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </div>
            </div>

            <div class="col-sm-2" style="margin-top: 30px;text-align: right">
                <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="submit()">
                  <span>
                    <i class="la la-search"></i>
                    <span>Ara</span>
                  </span>
                </button>
            </div>


            <div class="col-sm-12" style="margin-top: 30px; text-align: right" [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.AYLIK_HEDEFLER]">
                <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="hedefGuncelle()">
                  <span>
                      <i class="la la-save"></i>
                      <span>Hedef Güncelle</span>
                  </span>
                </button>
            </div>
        </div>


        <form class="m-form m-form--label-align-left- m-form--state-"  #f="ngForm">
            <div class="m--padding-5">


                <div class="tab-content">
                    <div class="tab-pane active" id="m_widget2_tab1_content">
                        <div class="m-widget2">


                            <p-dataTable [value]="list">
                                <p-headerColumnGroup>
                                    <p-row>
                                        <p-column header="Aylık Hedef : {{ this.storeTargetValue | number }}" colspan="4"> </p-column>
                                        <p-column header="%" colspan="3"></p-column>
                                    </p-row>

                                    <p-row>
                                        <p-column header="Pozisyon"></p-column>
                                        <p-column header="Personel Sayısı"></p-column>
                                        <p-column header="Yüzde(%)"></p-column>
                                        <p-column header="Satış Hedefi"></p-column>
                                        <p-column header="%100-104.9"></p-column>
                                        <p-column header="%105-109.9"></p-column>
                                        <p-column header="%110+"></p-column>
                                    </p-row>
                                </p-headerColumnGroup>

                                <p-column field="position.name" header="Pozisyon"></p-column>
                                <p-column field="numStaff" header="Personel Sayısı"></p-column>
                                <p-column field="saleSplit" header="Yüzde(%)" [editable]="true">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                       {{row.saleSplit | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="pmst" header="Satış Hedefi">
                                    <ng-template let-row="rowData" pTemplate="body">
                                        {{row.pmst | number }}
                                    </ng-template>
                                </p-column>
                                <p-column field="sta100" header="%100-104.9">
                                    <ng-template let-row="rowData" pTemplate="body">
                                        {{row.sta100 | number }}
                                    </ng-template>
                                </p-column>
                                <p-column field="sta105" header="%105-109.9">
                                    <ng-template let-row="rowData" pTemplate="body">
                                        {{row.sta105 | number }}
                                    </ng-template>
                                </p-column>
                                <p-column field="sta110" header="%110+">
                                    <ng-template let-row="rowData" pTemplate="body">
                                        {{row.sta110 | number }}
                                    </ng-template>
                                </p-column>


                                <p-footerColumnGroup>
                                    <p-row>
                                        <p-column footer="" colspan="2"></p-column>
                                        <p-column footer="%{{this.totalSaleSplit}}"></p-column>
                                        <p-column footer=""></p-column>
                                        <p-column footer=""></p-column>
                                        <p-column footer=""></p-column>
                                        <p-column footer=""></p-column>
                                    </p-row>
                                </p-footerColumnGroup>
                            </p-dataTable>
                            <div *ngIf="this.list !=null " class="alert alert-info"> {{ !this.saveControl ?' Bu bilgiler '+this.draftRevizyon+'. taslak durumundadır': (this.list.length>0? ' Bu bilgiler değiştirilemez! Final verisidir!':'')}} </div>
                           <!-- <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.AYLIK_HEDEFLER]"   style="margin-top: 20px; text-align: right">
                                <button type="button" [disabled]="saveControl" (click)="submitSave()" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md">
                                  <span>
                                    <i class="la la-check"></i>
                                    <span>Kaydet</span>
                                  </span>
                                </button>
                            </div>
                            -->
                        </div>
                        <div class="m-widget2 m--margin-top-15">
        <div class="ui-datatable ui-widget">
            <div class="ui-datatable-tablewrapper ng-star-inserted">
                            <table>
                                <thead class="ui-datatable-thead">
                                    <tr >
                                        <th style="min-width: 200px;" rowspan="3">Pozisyon</th>
                                        <th rowspan="3">Personel Sayısı</th>
                                        <th rowspan="3">Yüzde</th>
                                        <th rowspan="3">Oran</th>
                                        <th colspan="9">Komisyon Bazlı Prim Programı</th>
                                    </tr>
                                    <tr>
                                        <th colspan="3">Yüzde</th>
                                        <th colspan="3">Kişi  Başı TL Prim </th>
                                        <th colspan="3">Toplam Aylık Prim TL</th>
                                    </tr>
                                    <tr>
                                        <th>%100-104.9</th>
                                        <th>%105-109.9</th>
                                        <th>%110+</th>

                                        <th>%100-104.9</th>
                                        <th>%105-109.9</th>
                                        <th>%110+</th>

                                        <th>%100-104.9</th>
                                        <th>%105-109.9</th>
                                        <th>%110+</th>
                                    </tr>


                                </thead>
                                <tbody class="ui-datatable-data ui-widget-content">
                                <tr *ngFor="let item of this.newIncentiveProgramme | orderBy : ['order']; let i = index;" class="ui-datatable-odd ui-widget-content ng-star-inserted">
                                    <td [attr.rowspan]="item.staPercentage.length" *ngIf="i%item.staPercentage.length==0" style="padding: 0;"><span class="ui-cell-data ng-star-inserted">{{item.position.name}}</span></td>
                                    <td [attr.rowspan]="item.staPercentage.length" *ngIf="i%item.staPercentage.length==0"><span class="ui-cell-data ng-star-inserted">{{item.numStaff}}</span></td>
                                    <td [attr.rowspan]="item.staPercentage.length" *ngIf="i%item.staPercentage.length==0"><span class="ui-cell-data ng-star-inserted">{{item.saleSplit | number}}</span></td>
                                    <td> <span class="ui-cell-data ng-star-inserted">{{item.salesTeamAchievement}}</span></td>
                                    <td *ngFor="let x of item.staPercentage; let i = index">
                                        <span class="ui-cell-data ng-star-inserted">{{x | number}}</span>
                                    </td>
                                    <td *ngFor="let y of item.staIncTLPerPos; let i = index">
                                        <span class="ui-cell-data ng-star-inserted">{{y | number}}</span>
                                    </td>
                                    <td *ngFor="let z of item.staTotalMonIncTL; let i = index">
                                       <span class="ui-cell-data ng-star-inserted"> {{z | number}}</span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
               </div>




                        </div>
                    </div>
                </div>


            </div>
        </form>



    </div>
</div>
