<div class="m-portlet m-portlet--full-height">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">

                </h3>
            </div>
        </div>
        <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.ROLLER]" class="m-portlet__head-tools">


        </div>
    </div>


    <div class="m-portlet__body">
        <div class="tab-content">
            <div class="tab-pane active" id="m_widget2_tab1_content">
                <div class="m-widget2">




                    <div class="form-row" >
                        <div class="row" style="border:1px solid #ddd;padding: 10px;">
                            <div class="col-sm-12">
                                <h6>Marka Yetkileri</h6>
                            </div>
                            <div class="col-sm-4 padL0" *ngFor="let item of roleComboRequest.brands">
                                <label class="label col-md-12" for="{{item.id}}"> <input type="checkbox" id="{{item.id}}" name="brands" [(ngModel)]="item.checked" > {{item.name}}</label>
                            </div>
                        </div>
                        <div class="row" style="border:1px solid #ddd;padding: 10px; margin-top: 10px">
                            <div class="col-sm-12">
                                <h6>Ekran Yetkileri</h6>
                            </div>
                            <div class="col-sm-4 padL0" *ngFor="let item of roleComboRequest.screens" style="margin: 5px 0;">
                                <div class="label col-md-12" >
                                    <p>{{item.name}}</p>
                                    <label for="view{{item.id}}"> <input type="checkbox" id="view{{item.id}}" name="view" [(ngModel)]="item.view" > Görüntüleme  </label>
                                    <label for="edit{{item.id}}"> <input type="checkbox" id="edit{{item.id}}" name="edit" [(ngModel)]="item.edit" > Değiştirme   </label>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding: 10px; margin-top: 10px; text-align: right; width: 100%;">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary" (click)="roleComboSave()" data-dismiss="modal">
                                    {{'actions.save' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<style>
    #edit_modal .modal-content, #edit_modal  .modal-dialog {
        max-width: 900px;
       width: 900px;
    }
    .label{
        border: 1px solid #ccc;
        padding: 5px 20px;
    }
</style>


<p-growl> </p-growl>