<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        VS Prim Oranları
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.PRIM_ORANLARI]"  class="m-portlet m-portlet--full-height m--padding-25">

        <div class="tab-content">
          <div class="tab-pane active" id="m_widget2_tab1_content">
            <div class="m-widget2">


              <form class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="submit()" #f="ngForm">
                  <div class="m-form__section m-form__section--first">


                    <div class="form-group m-form__group row">
                      <div class="col-sm-6">
                        <label class="col-sm-2 col-form-label text-left colorB">Marka</label>
                        <div class="col-sm-10">
                          <p-dropdown [options]="brands" placeholder="Seçiniz" [(ngModel)]="premiumRate.brand.id" (onChange)="getPremiumRateByBrandIdAndPositionId()" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <label class="col-sm-2 col-form-label text-left colorB">Pozisyon</label>
                        <div class="col-sm-10">
                          <p-dropdown [options]="positions" placeholder="Seçiniz" [(ngModel)]="premiumRate.position.id" (onChange)="getPremiumRateByBrandIdAndPositionId()" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>
                      </div>
                    </div>

                    <div class="form-group m-form__group row">
                      <div class="col-sm-3">
                      </div>
                      <div class="col-sm-9" style="text-align: center" >
                        <div class="form-control form-control-sm" style="background-color: #e3e3e3;">
                          Mağaza Satış
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <div class="col-sm-3">
                        <div class="form-control form-control-sm"  style="background-color: #e3e3e3;">
                          Kişisel Satış
                        </div>
                      </div>
                      <div class="col-sm-3"  style="background-color: #e3e3e3;text-align: center;">
                        %100 - 104.9
                      </div>
                      <div class="col-sm-3" style="background-color: #e3e3e3;text-align: center;">
                        %105 - 109.9
                      </div>
                      <div class="col-sm-3" style="background-color: #e3e3e3;text-align: center;">
                        %110 ve Üstü
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <div class="col-sm-3">
                        <div class="form-control form-control-sm" style="background-color: #e3e3e3;">
                          %100-104.9
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true" placeholder="% giriniz" class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p1s1" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true" placeholder="% giriniz" class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p1s2" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true" placeholder="% giriniz"  class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p1s3" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <div class="col-sm-3">
                        <div class="form-control form-control-sm" style="background-color: #e3e3e3;">
                          %105 - 109.9
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true" placeholder="% giriniz"  class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p2s1" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true" placeholder="% giriniz"   class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p2s2" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true"  placeholder="% giriniz"  class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p2s3" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>
                    <div class="form-group m-form__group row">
                      <div class="col-sm-3">
                        <div class="form-control form-control-sm" style="background-color: #e3e3e3;">
                          %110 ve Üstü
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true"  placeholder="% giriniz"  class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p3s1" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true" placeholder="% giriniz"  class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p3s2" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group m-form__group">
                          <input type="text"  OnlyNumber="true"  placeholder="% giriniz"  class="form-control form-control-sm m-input" [(ngModel)]="premiumRate.p3s3" [ngModelOptions]="{standalone: true}">
                        </div>
                      </div>
                    </div>


                  </div>


,                <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.PRIM_ORANLARI]" style="margin-top: 20px; text-align: right">
                  <button type="submit" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md">
                    <span>
                      <i class="la la-check"></i>
                      <span>Kaydet</span>
                    </span>
                  </button>
                </div>
              </form>



            </div>
          </div>
        </div>

  </div>
</div>
