/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.colorB{
  color:#000000
}
.hidden {
  display: none !important;
}
.required:before{
  content:"*";
  font-weight:bold;
  font-size:18px;
  color:red;
  vertical-align: middle;
}
.calc-result{
  min-height: 100px;
  line-height: 100px;
  font-size: 24px;
}
/*
input.ng-invalid {
  background-color: #ff7479;
}

input.ng-valid {
  background-color: #70ff56;
}*/

.ui-autocomplete-dropdown {
  position: absolute!important;
  right:0;
}

.ui-inputtext.ui-autocomplete-input {
  width: 100%;
}

.form-group .block-ui-autocomplete-dropdown{
  display: block;
}

.total-records-count{
  transition: background-color 0.3s;
  min-height: 0.875em;
  min-width: 2em;
  padding: 0.5em 0.5em;
  vertical-align: top;
  display: block;
  text-align: left;
}

.search-form {
  margin-bottom: 10px;
}

.search-form .form-group {
  margin-right:5px;
}

.search-form .form-group label{
  margin-right:2.5px;
}

.search-form .btn-outline-success {
  margin-right:5px;
}
.search-form  input, .search-form select{
  width: 150px!important;
}


.m-login.m-login--1 .m-login__wrapper {
  padding:0!important;
}


.m-login.m-login--1 .m-login__wrapper .m-login__form .m-form__group .form-control.select{
  padding: 0!important;
}

.input-group.clear-input-group-addon {}
.input-group.clear-input-group-addon  .input-group-addon{

  color: inherit!important;
  border-color: transparent!important;;
  background-color: transparent!important;;
}
/*
.photo-add{
  width: 150px;
  height: 150px;
  border: 1px solid;
}


.photo-add img {
  width: 100%;
  max-height: 100%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
*/
.photo-add {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo-add input {
  z-index: 1;
  text-indent: 10111px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


.photo-add img{
  max-width:100%;
}

.bank-table {text-align: center;margin: 0 auto;}
.bank-table td, .bank-table th{ padding: 5px 10px; text-align: center}

.inputSwitch-center {
  padding-top: 0.65rem;
  display: inline-block;
  vertical-align: top;
}

.cank-content-table {
  max-width: 678px;
  margin: 0 auto;

}

.cank-content-table.table-short{
  max-width: 300px;
}

.cank-content-table input{
  width: 75px;
}

.wrap-has-danger .has-danger{
  display: inline-block;
  margin-right: 5px;
}
/*
.has-danger:after {
  content:', ';
}
*/



.m-login.m-login--2{
  &.m-login--signin  {
    .m-login__otp {
      display: none;
    }
  }
  &.m-login__signup  {
    .m-login__otp {
      display: none;
    }
  }
  &.m-login__forget-password  {
    .m-login__otp {
      display: none;
    }
  }
}

.m-login.m-login--2{

  &.m-login--otp  {
    .m-login__signin {
      display: none;
    }
    .m-login__signup {
      display: none;
    }
    .m-login__forget-password {
      display: none;
    }
    .m-login__otp{
      display: block;
    }

  }

  &.m-login--forget-password{
    .m-login__signin {
      display: none;
    }
    .m-login__signup {
      display: none;
    }
    .m-login__otp {
      display: none;
    }
  }

}



body .ui-datatable .ui-datatable-thead > tr > th .ui-inputtext, body .ui-datatable .ui-datatable-tfoot > tr > td .ui-inputtext {
  width: 100%;
}

.swal2-container {
  display: none!important;
}

#-error{
  display: none!important;
}


.m-body .m-wrapper {
  overflow-y: -webkit-paged-y!important;
}

.m-portlet .m-portlet__body {
  color: #000000!important;
}


.btn-danger, .btn-success {
  color: #ffffff!important;
}
/*
body .ui-widget, body .ui-widget .ui-widget, body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button {
  font-size: 0.9em!important;
}
*/
.ui-datatable-scrollable-view .ui-cell-data, .ui-column-title ng-star-inserted {
  word-wrap: break-word;
  font-size: 0.9em!important;
}
/*
.m-body .m-content, .m-portlet .m-portlet__body {
  padding: 5px 5px !important;
}*/

.m-aside-left.m-aside-left--skin-dark, .m-brand{
  width: 200px;
}

@media (max-width: 992px) {
  .m-brand {
    width: 100%;
  }
}
.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-text {
  font-size: 0.85rem;
}
.m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link .m-menu__link-text {
  font-size: 0.8rem;
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading .m-menu__link-icon, .m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon {
  font-size: 1.2rem;
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  padding: 9px 20px;
}

.m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__heading, .m-aside-menu .m-menu__nav>.m-menu__item>.m-menu__link {
  height: 40px;
}

.m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__heading, .m-aside-menu .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item>.m-menu__link {
  height: 30px;
}

@media (min-width: 993px) {
  .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed) .m-footer {
    margin-left: 200px;
  }
}

@media (min-width: 993px) {
  .m-aside-left--minimize .m-aside-left, .m-aside-left--minimize .m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link, .m-brand--minimize .m-brand {
    width: 40px;
  }
  .m-footer--push.m-aside-left--enabled:not(.m-footer--fixed).m-aside-left--minimize .m-footer {
    margin-left: 40px;
  }
}

body .ui-datatable .ui-datatable-thead > tr > th, body .ui-datatable .ui-datatable-tfoot > tr > td {
  padding: .25em .2em!important;
}

body {
  font-family: 'Roboto', sans-serif;
}

body .ui-dropdown .ui-dropdown-trigger .fa {
  margin-top: .3em!important;
}

.ui-datatable .ui-selection-column .ui-chkbox-box, .ui-datatable .ui-selection-column .ui-radiobutton-box {
  margin: 0 auto!important;
}

body .ui-datatable .ui-datatable-data > tr > td {
 /* padding: .25em;*/
}


@media (min-width: 993px) {
  .m-aside-left--minimize .m-aside-menu .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__submenu {
    margin-left: 45px!important;
  }
}


body .ui-state-disabled, body .ui-widget:disabled {
     background-color: #f5f5f8!important;
     opacity: 1!important;
   border: none!important;
}
.padL0{
  padding-left: 0;
}
.pad0{
  padding: 0;
}