<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
          Hedef-Gerçekleşen
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.GERCEKLESEN_AYLIK]" >
  <div class="m-portlet m-portlet--full-height">



      <form class="m-form m-form--label-align-left- m-form--state- m--padding-25" (ngSubmit)="f.form.valid && findAll(null)" #f="ngForm">
           <div class="m-form__section m-form__section--first">
            <div class="form-group m-form__group row">


              <div class="col-sm-4">
                <label class="col-sm-2 col-form-label">Marka</label>
                <div class="col-sm-8">
                  <p-dropdown [options]="brands" placeholder="Marka" [(ngModel)]="model.brandId" [ngModelOptions]="{standalone: true}" (onChange)="setStores($event.value)"></p-dropdown>
                </div>
              </div>

              <div class="col-sm-4">
                <label class="col-sm-2 col-form-label">Mağaza</label>
                <div class="col-sm-8">
                  <p-dropdown [options]="stores" placeholder="Mağaza" [(ngModel)]="model.storeId" (onChange)="getEmployees($event.value)" [ngModelOptions]="{standalone: true}" [filter]="true"></p-dropdown>
                </div>
              </div>

           <div class="col-sm-4">
                <label class="col-sm-2 col-form-label text-right">Personel</label>
                <div class="col-sm-8">
                  <p-dropdown [options]="employees" placeholder="Personel" [(ngModel)]="model.employeeId" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </div>
              </div>


              <div class="col-sm-4">
                <label class="col-sm-2 col-form-label text-right">Pozisyon</label>
                <div class="col-sm-8">
                  <p-dropdown [options]="positions" placeholder="Pozisyon" [(ngModel)]="model.positionId" [ngModelOptions]="{standalone: true}"></p-dropdown>
                </div>
              </div>
                <div class="col-sm-4">
                    <label class="col-sm-2 col-form-label text-right">Tarih</label>
                    <div class="col-sm-10">
                        <p-dropdown [options]="years" placeholder="Yıl" [(ngModel)]="model.year" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        /
                        <p-dropdown [options]="months" placeholder="Ay" [(ngModel)]="model.month" [ngModelOptions]="{standalone: true}"></p-dropdown>
                    </div>
                </div>

              <div class="col-sm-2" style="margin-top: 30px;">
                <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="findAll(null)">
              <span>
                <i class="la la-search"></i>
                <span>Ara</span>
              </span>
                </button>
              </div>
              <div class="col-sm-2" style="margin-top: 30px;">
                <button class="btn btn-success  m-btn  m-btn m-btn--icon"
                        (click)="exportCSV()"><span><i class="fa 	fa-file-excel-o"></i><span>{{'actions.exportCsv' | translate}}</span></span>
                </button>
              </div>
            </div>
          </div>

      </form>


    <form class="m-form m-form--label-align-left- m-form--state-"  #f="ngForm">
      <div class="m-portlet__body">


        <div class="tab-content">
          <div class="tab-pane active" id="m_widget2_tab1_content">
            <div class="m-widget2">

                <div class="alert alert-info">Bu ekrandaki gerçekleşen alanı brüt satış verilerini göstermektedir. </div>
              <!--begin:: dataTable -->
              <p-growl></p-growl>
              <p-dataTable
                      [value]="list" [lazy]="true" [rows]="pageable.size" [paginator]="true"
                      [page]="pageable.page" [rowsPerPageOptions]="[50,100,500]"
                      [totalRecords]="totalRecords" (onLazyLoad)="findAll($event)" sortField="brand"
                      [sortOrder]="-1"
                      scrollable="false"
                      scrollHeight="500px"
                      [(selection)]="selectedItems" [dataKey]="'id'">

                <p-column *ngFor="let col of cols" [field]="col.field"
                          [header]="col.header"
                          [sortable]="true"></p-column>

                <ng-template pTemplate="paginatorLeft"><span class="total-records-count"> {{'table.label.totalCount' | translate}} {{totalRecords}} </span></ng-template>
                <ng-template pTemplate="emptymessage"><span class="text-center emptyTable">{{ 'table.label.emptyMessage' | translate}}</span> </ng-template>

              </p-dataTable>
              <!--end:: dataTable -->

            </div>
          </div>
        </div>


      </div>
    </form>


  </div>
</div>
