<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">

                <a routerLink="/data-input" class="m-nav__link m-nav__link--icon">
                    <i class="m-nav__link-icon la la-backward"></i>
                    Cognos Verileri
                </a>
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-sm-12" style="margin-bottom: 3px;text-align: right;">
                        <button class="btn btn-success  m-btn  m-btn m-btn--icon" (click)="exportCSV()" style="text-align: right">
                            <span><i class="fa fa-file-excel-o"></i>
                                <span>{{'actions.exportCsv' | translate}}</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-xl-12">

                        <div [hasRight]="[rights.GORME, rights.DEGISTIRME,rights.VERI_GIRISI]">

                            <p-dataTable [value]="storetargets"
                                         [rows]="10" [paginator]="true"
                                         [page]="1" [rowsPerPageOptions]="[10,50,100,500]"
                                         [totalRecords]="storetargets.length"
                                         scrollable="true"
                                         [style]="{width:'500px'}">
                                <p-column field="year" header="Yıl" [style]="{'width': '90px'}"></p-column>
                                <p-column field="storeId" header="Kodu"[style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.storeId | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="store" header="Mağaza Adı"[style]="{'width': '150px'}"></p-column>
                                <p-column field="a01" header="Gerçekleşen Ocak" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a01 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a02" header="Gerçekleşen Şubat" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a02 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a03" header="Gerçekleşen Mart" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a03 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a04" header="Gerçekleşen Nisan" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a04 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a05" header="Gerçekleşen Mayıs" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a05 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a06" header="Gerçekleşen Haziran" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a06 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a07" header="Gerçekleşen Temmuz" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a07 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a08" header="Gerçekleşen Ağustos" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a08 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a09" header="Gerçekleşen Eylül" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a09 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a10" header="Gerçekleşen Ekim" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a10 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a11" header="Gerçekleşen Kasım" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a11 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="a12" header="Gerçekleşen Aralık" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.a12 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="totalActual" header="Gerçekleşen Toplam" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.totalActual | number}}
                                    </ng-template>
                                </p-column>

                                <p-column field="t01" header="Hedef Ocak" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t01 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t02" header="Hedef Şubat" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t02 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t03" header="Hedef Mart" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t03 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t04" header="Hedef Nisan" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t04 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t05" header="Hedef Mayıs" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t05 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t06" header="Hedef Haziran" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t06 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t07" header="Hedef Temmuz" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t07 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t08" header="Hedef Ağustos" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t08 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t09" header="Hedef Eylül" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t09 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t10" header="Hedef Ekim" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t10 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t11" header="Hedef Kasım" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t11 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="t12" header="Hedef Aralık" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.t12 | number}}
                                    </ng-template>
                                </p-column>
                                <p-column field="totalTarget" header="Hedef Toplam" [style]="{'width': '90px'}">
                                    <ng-template let-col let-row="rowData" let-index="rowIndex"  pTemplate="body">
                                        {{row.totalTarget | number}}
                                    </ng-template>
                                </p-column>
                            </p-dataTable>

                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>
