<p-growl></p-growl>
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title" style="float: left;">
                            <h3 class="m-portlet__head-text">
                                {{role.name}}
                            </h3>
                        </div>
                        <div style="float: right;margin-top: 15px;">
                            <button class="btn btn-secondary" type="button" (click)="homePage()">
                                Geri Dön
                            </button>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <ul class="nav nav-tabs  m-tabs-line" role="tablist">
                        <li class="nav-item m-tabs__item">
                            <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab"
                               aria-expanded="true">
                               Rol
                            </a>
                        </li>
                        <li [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.ROLLER]" class="nav-item m-tabs__item" *ngIf="!isNew">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab"
                               aria-expanded="false">
                                Rol Yetki Atama
                            </a>
                        </li>
                        <li [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.SICIL_ROL_ATAMA]" class="nav-item m-tabs__item" *ngIf="!isNew">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab"
                               aria-expanded="false">
                                 Sicil Rol Atama
                            </a>
                        </li>
                        <li [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.UNVAN_ROL_ATAMA]" class="nav-item m-tabs__item" *ngIf="!isNew">
                            <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab"
                               aria-expanded="false">
                                Ünvan Rol Atama
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel" aria-expanded="true">
                            <form #userForm="ngForm"
                                  class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed"
                                  (submit)="saveOrCreate(userForm.form.valid)">
                                <div class="m-portlet__body">
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-6">
                                            <label>Rol Adı </label>
                                            <input class="form-control m-input"
                                                   placeholder="Rol adı giriniz"
                                                   type="name"
                                                   [(ngModel)]="role.name"
                                                   id="username"
                                                   name="username"
                                                   #inputUsername="ngModel" required
                                                   OnlyLetter="true"
                                            >

                                            <div class="has-danger" *ngIf="userForm.hasError('required', 'name') && (userForm.submitted || inputUsername.touched) ">
                                                 <span class="form-control-feedback" [translate]="'form.placeholder'"
                                                       [translateParams]="{value: 'Rol Adı'}">
                                                </span>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                                    <div class="m-form__actions m-form__actions--solid">
                                        <div class="row">
                                            <div class="col-lg-5"></div>
                                            <div class="col-lg-7">
                                                <button class="btn btn-success" type="submit">
                                                    Kaydet
                                                </button>
                                                <button class="btn btn-secondary" type="reset" (click)="homePage()">
                                                   İptal
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                         <div class="tab-pane" id="m_tabs_6_2" role="tabpanel" *ngIf="!isNew">
                            <role-permission *ngIf="role.id > 0" [roleId]="role.id"></role-permission>
                        </div>
                        <div class="tab-pane" id="m_tabs_6_3" role="tabpanel" *ngIf="!isNew">
                            <registry-role-assignment *ngIf="role.id > 0" [roleId]="role.id"></registry-role-assignment>
                        </div>
                        <div class="tab-pane" id="m_tabs_6_4" role="tabpanel" *ngIf="!isNew">
                            <title-role-assignment *ngIf="role.id > 0" [roleId]="role.id"></title-role-assignment>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

