<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Yıllık Prim
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.YILLIK_PRIM]" >
    <div class="m-portlet m-portlet--full-height">
        <ul class="nav nav-tabs  m-tabs-line" role="tablist">
            <li class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_tabs_6_1" role="tab"
                   aria-expanded="true">
                    Over Achievement
                </a>
            </li>
            <li  class="nav-item m-tabs__item">
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_2" role="tab"
                   aria-expanded="false">
                    Telafi
                </a>
            </li>
            <li class="nav-item m-tabs__item"  >
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_3" role="tab"
                   aria-expanded="false">
                    Karlılık
                </a>
            </li>
            <li class="nav-item m-tabs__item" >
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_4" role="tab"
                   aria-expanded="false">
                    Shrinkage
                </a>
            </li>
            <li class="nav-item m-tabs__item" >
                <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_tabs_6_5" role="tab"
                   aria-expanded="false">
                    Toplam
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="m_tabs_6_1" role="tabpanel" aria-expanded="true">
                <app-over-achievement></app-over-achievement>
            </div>
            <div class="tab-pane" id="m_tabs_6_2" role="tabpanel">
                <app-telafi></app-telafi>
            </div>

            <div class="tab-pane" id="m_tabs_6_3" role="tabpanel">
                <app-karlilik></app-karlilik>
            </div>

            <div class="tab-pane" id="m_tabs_6_4" role="tabpanel">
                <app-shrinkage></app-shrinkage>
            </div>

            <div class="tab-pane" id="m_tabs_6_5" role="tabpanel">
                Toplam
            </div>
        </div>
</div>
