<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                 Hesaplama Adımları
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.PRIMLER_AYLIK]" >
    <div class="m-portlet m-portlet--full-height clearfix">

        <div class="col-sm-4">
            <label class="col-sm-2 col-form-label">Hesaplamalar</label>
            <div class="col-sm-8">
                <p-dropdown [options]="selectList" placeholder="Hesaplamalar" [(ngModel)]="calcid"
                            [ngModelOptions]="{standalone: true}" (onChange)="getCalclog($event.value)">
                </p-dropdown>
            </div>
        </div>

        <div class="col-sm-12" style="padding: 20px 10px">
            <p-dataTable [value]="list" [dataKey]="'id'">
                <p-column [field]="'id'" [header]="'Id'" [style]="{'width': '120px'}" ></p-column>
                <p-column [field]="'sicil'" [header]="'Sicil'" [style]="{'width': '120px'}" ></p-column>
                <p-column [field]="'calcid'" [header]="'Hesaplama Id'" [style]="{'width': '120px'}" ></p-column>
                <p-column [field]="'action'" [header]="'Olay'" ></p-column>
                <p-column [field]="'tip'" [header]="'Tip'" [style]="{'width': '120px'}" ></p-column>
                <p-column [field]="'sira'" [header]="'Sıra'" [style]="{'width': '80px'}" ></p-column>
            </p-dataTable>
        </div>
    </div>
</div>
