<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Veri Yükleme
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="m-content">
  <div>
    <form class="m-form m-form--label-align-left- m-form--state-" [formGroup]="form">
      <div class="m-portlet__body">
        <div class="row">
          <div class="col-xl-8 offset-xl-2">
            <div class="m-form__section m-form__section--first">
              <div class="m-form__heading">
                <h3 class="m-form__heading-title">Cognos Satış Hedefi</h3>
              </div>
              <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.VERI_GIRISI]"  class="form-group m-form__group">
                <p-dropdown [options]="years" placeholder="Yıl" formControlName="target-year"></p-dropdown>
              </div>
              <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.VERI_GIRISI]"  class="form-group m-form__group">
                 <p-fileUpload  cancelLabel="İptal" chooseLabel="Göz At" uploadLabel="Yükle"
                                #targetFile name="file"
                                customUpload="true" allowTypes="*.xlsx"  invalidFileMessage="Dosya formatı xlsx olmalı"
                                (uploadHandler)="uploadExcel($event, targetFile, 'target')" ></p-fileUpload>
              </div>

            </div>
            <div [hasRight]="[rights.GORME, rights.DEGISTIRME,rights.VERI_GIRISI]">

              <p-dataTable [value]="filesXLSaleTargets">
                <p-column field="year" header="Yıl"></p-column>
                <p-column field="fileName" header="Dosya Adı"></p-column>
                <p-column field="date" header="Yüklenme Tarihi">
                  <ng-template let-row="rowData" pTemplate="body">
                    {{row.date | date:'dd.MM.yyyy HH:mm:ss' }}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'100px'}" styleClass="col-button">
                  <ng-template pTemplate="header"></ng-template>
                  <ng-template let-car="rowData" pTemplate="m-body">
                    <a target="_blank"  [attr.href]="this.API_URL+'/svc/filesGet/'+car.id" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill">
                      <i class="la la-download"></i>
                    </a>
                    <a [routerLink]="['/data-input',car.year]"  class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill">
                      <i class="la la-eye"></i>
                    </a>
                  </ng-template>
                </p-column>
              </p-dataTable>

            </div>

            <div class="m-form__section">
              <div class="m-form__heading">
                <h3 class="m-form__heading-title">AI Shaya Takvimi</h3>
              </div>
              <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.VERI_GIRISI]"  class="form-group m-form__group">
                <p-dropdown [options]="years" placeholder="Yıl" formControlName="calendar-year"></p-dropdown>
              </div>
              <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.VERI_GIRISI]"  class="form-group m-form__group" >
                  <p-fileUpload  cancelLabel="İptal" chooseLabel="Göz At" uploadLabel="Yükle"  #calenderFile name="file"
                                 customUpload="true"  (uploadHandler)="uploadExcel($event,  calenderFile, 'calendar')"></p-fileUpload>
              </div>
            </div>
            <div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.VERI_GIRISI]">

              <p-dataTable [value]="filesXLAlShayaCalendar">
                <p-column field="year" header="Yıl"></p-column>
                <p-column field="fileName" header="Dosya Adı"></p-column>
                <p-column field="date" header="Yüklenme Tarihi">
                  <ng-template let-row="rowData" pTemplate="body">
                    {{row.date | date:'dd.MM.yyyy HH:mm:ss' }}
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'100px'}" styleClass="col-button">
                  <ng-template pTemplate="header"></ng-template>
                  <ng-template let-car="rowData" pTemplate="m-body">
                    <a target="_blank"  [attr.href]="this.API_URL+'/svc/filesGet/'+car.id" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill">
                      <i class="la la-download"></i>
                    </a>
                      <a [routerLink]="['/data-input/shaya/',car.year]"  class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill">
                          <i class="la la-eye"></i>
                      </a>
                  </ng-template>
                </p-column>
              </p-dataTable>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
