<div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" id="m_login" style="background-image: url(./assets/app/media/img//bg/bg-3.jpg);">
	<div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
		<div class="m-login__container">
			<div class="m-login__signin">
				<div class="m-login__head">
					<h3 class="m-login__title">
					  Prim Yönetim Sistemi
					</h3>
				</div>
				<form (ngSubmit)="f.form.valid && login()" #f="ngForm" class="m-login__form m-form">
					<ng-template #alertSignin></ng-template>
					<div class="form-group m-form__group">
						<input class="form-control m-input" type="text" placeholder="{{ 'form.login.username' | translate }}" name="username" [(ngModel)]="model.username" #username="ngModel" autocomplete="off">
					</div>
					<div class="form-group m-form__group">
						<input class="form-control m-input m-login__form-input--last" type="password" placeholder="{{ 'form.login.password' | translate }}"name="password" [(ngModel)]="model.password" #password="ngModel">
					</div>
					<div class="row m-login__form-sub">
						<div class="col m--align-left m-login__form-left">
							<label class="m-checkbox  m-checkbox--focus">
								<input type="checkbox" name="remember" [(ngModel)]="model.remember" #remember="ngModel">
								{{'form.login.remember-me' | translate}}
								<span></span>
							</label>
						</div>
						<div class="col m--align-right m-login__form-right"></div>
					</div>
					<div class="m-login__form-action">
						<button [disabled]="loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}" id="m_login_signin_submit" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air m-login__btn m-login__btn--primary">
							{{'form.login.sign-in' | translate}}
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
