<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color" [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">

                <a routerLink="/data-input" class="m-nav__link m-nav__link--icon">
                    <i class="m-nav__link-icon la la-backward"></i>
                    Al Shaya Takvimi
                </a>
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="m-content">
    <div>
            <div class="m-portlet__body">
                <div class="row">
                    <div class="col-sm-12" style="margin-bottom: 3px;text-align: right;">
                        <button class="btn btn-success  m-btn  m-btn m-btn--icon" (click)="exportCSV()" style="text-align: right">
                            <span><i class="fa fa-file-excel-o"></i>
                                <span>{{'actions.exportCsv' | translate}}</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-xl-12">

                        <div [hasRight]="[rights.GORME, rights.DEGISTIRME,rights.VERI_GIRISI]">

                            <p-dataTable [value]="calendars"
                                         [rows]="10" [paginator]="true"
                                         [page]="1" [rowsPerPageOptions]="[10,50,100,500]"
                                         [totalRecords]="calendars.length"
                                         scrollable="true"
                                         [style]="{width:'500px'}">
                                <p-column field="year" header="Yıl" [style]="{'width': '70px'}"></p-column>
                                <p-column field="date" header="Gün"[style]="{'width': '90px'}"></p-column>
                                <p-column field="week" header="Hafta"[style]="{'width': '90px'}"></p-column>
                                <p-column field="month" header="Ay"[style]="{'width': '90px'}"></p-column>
                                <p-column field="quarter" header="Çeyrek"[style]="{'width': '90px'}"></p-column>
                                <p-column field="season" header="Sezon"[style]="{'width': '90px'}"></p-column>

                            </p-dataTable>

                        </div>

                    </div>
                </div>
            </div>
    </div>
</div>
