<app-header-nav></app-header-nav>

<!-- begin::Body -->
<router-outlet></router-outlet>
<!-- end:: Body -->
<app-footer></app-footer>

<div class="modal fade" id="session-timeout-dialog" tabindex="-1" role="dialog" aria-labelledby="sessionTimeoutDialog" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{'sessionTimeOut.sessionTimeoutNotification' | translate}}</h4>
            </div>
            <div class="modal-body">
                <p>{{'sessionTimeOut.yourSessionIsAboutToExpire' | translate}} </p>
                <p> <span class="countdown-holder">{{timedOutCountdown}}s</span> {{'sessionTimeOut.redirectingIn' |translate}}</p>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped countdown-bar active" role="progressbar" style="min-width: 15px; width: 84%;">
                        <span class="countdown-holder">{{timedOutCountdown}}</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer">
                    <button id="session-timeout-dialog-logout" type="button" class="btn btn-default" (click)="logout()">{{'sessionTimeOut.logout' | translate}}</button>
                    <button id="session-timeout-dialog-keepalive" type="button" class="btn btn-primary" data-dismiss="modal" (click)="resetSession()">{{'sessionTimeOut.stayConnected' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
