<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Yıllık Prim Almayacak Ünvanlar
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div>
  <div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.SLT_PRIM_ORANLARI]"  class="m-portlet m-portlet--full-height m--padding-25">

        <div class="tab-content">
          <div class="tab-pane active" id="m_widget2_tab1_content">
            <div class="m-widget2">


              <form class="m-form m-form--label-align-left- m-form--state-" (ngSubmit)="submit()" #f="ngForm">
                  <div class="m-form__section m-form__section--first">


                    <div class="form-group m-form__group row">
                      <div class="col-sm-6">
                        <label class="col-sm-2 col-form-label text-left colorB">Marka</label>
                        <div class="col-sm-10">
                          <p-dropdown [options]="brands" placeholder="Seçiniz" [group]="true" [(ngModel)]="titleNotAnnualBonus.brandId" (onChange)="getTitleNotAnnualBonusByBrandId()" [ngModelOptions]="{standalone: true}"></p-dropdown>
                        </div>
                      </div>

                    </div>

                    <div>
                      <div *ngIf="list.length>0" class="row">
                        <div class="col-xl-12">
                          <div class="m-form__section m-form__section--first" style="margin-bottom: 15px">
                            <div class="form-group m-form__group row">
                              <div class="col-sm-2">
                                <div class="form-control form-control-sm" style="background-color: #f2f3f8;">
                                  Yıllık Prim Yok
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-control form-control-sm" style="background-color: #f2f3f8;">
                                  Pozisyon
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row" *ngFor="let item of list; let i=index">
                        <div class="col-xl-12">
                          <div class="m-form__section m-form__section--first" style="margin-bottom: 15px">
                            <div class="form-group m-form__group row">
                              <div class="col-sm-2">
                                <div class="form-group m-form__group">
                                  <input type="checkbox" class="form-control form-control-sm m-input" [(ngModel)]="item.hasYearlyBonus"  [ngModelOptions]="{standalone: true}">
                                </div>
                              </div>
                                  <div class="col-sm-6">
                                <div class="form-control form-control-sm" style="background-color: #f9f9f9;">
                                  {{item.positionName}}
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>


,                <div *ngIf="list.length>0" [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.SLT_PRIM_ORANLARI]" style="margin-top: 20px; text-align: right">
                  <button type="submit" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md">
                    <span>
                      <i class="la la-check"></i>
                      <span>Kaydet</span>
                    </span>
                  </button>
                </div>
              </form>



            </div>
          </div>
        </div>

  </div>
</div>
