<ngx-spinner [bgColor]="spinnerConfig.bgColor" [size]="spinnerConfig.size" [color]="spinnerConfig.color"
             [type]="spinnerConfig.type"></ngx-spinner>
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader">
  <div class="d-flex align-items-center">
    <div class="mr-auto">
      <h3 class="m-subheader__title m-subheader__title--separator">
        Rol ve Yetki
      </h3>
      <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
        <li class="m-nav__item m-nav__item--home">
          <a routerLink="/" class="m-nav__link m-nav__link--icon">
            <i class="m-nav__link-icon la la-home"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div [hasRight]="[rights.GORME,rights.DEGISTIRME,rights.ROLLER]"  class="m-content">
    <div class="m-portlet m-portlet--full-height">
      <div class="m-portlet__head">
          <div class="m-portlet__head-caption">
              <div class="m-portlet__head-title">
                  <h3 class="m-portlet__head-text">

                  </h3>
              </div>
          </div>
          <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.ROLLER]" class="m-portlet__head-tools">
              <button class="btn btn-primary btn-sm m-btn  m-btn m-btn--icon m-btn--pill" (click)="add()"><span><i class="fa flaticon-add"></i><span>{{'actions.add' | translate}}</span></span></button>
              <button class="btn btn-danger btn-sm m-btn  m-btn m-btn--icon m-btn--pill" data-toggle="modal" data-target="#delete_modal" [disabled]="selectedItems.length===0" ><span><i class="fa flaticon-delete"></i><span>{{'actions.selected-remove' | translate}}</span></span></button>
          </div>
      </div>


    <form class="m-form m-form--label-align-left- m-form--state-"  #f="ngForm">
      <div class="m-portlet__body">


          <div class="tab-content">
              <div class="tab-pane active" id="m_widget2_tab1_content">
                  <div class="m-widget2">

                      <!--begin:: dataTable -->




                      <p-growl></p-growl>


                      <p-dataTable [value]="list"
                                   [totalRecords]="totalRecords"
                                    [selectionMode]="'multiple'" [(selection)]="selectedItems" [dataKey]="'id'">

                          <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>

                          <p-column [field]="'name'"
                                    [header]="'Rol Adı'"
                                     ></p-column>
                          <p-column [field]="'createdOn'"
                                    [header]="'Oluşturulma Tarihi'">
                              <ng-template let-row="rowData" pTemplate="body">
                                  {{row.createdOn | date:'dd.MM.yyyy HH:mm'}}
                              </ng-template>
                          </p-column>

                          <p-column [style]="{'width':'60px'}" styleClass="col-button">
                              <ng-template pTemplate="header">

                              </ng-template>
                              <ng-template let-car="rowData" pTemplate="m-body">
                                  <a  [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.ROLLER]" class="m-portlet__nav-link btn m-btn m-btn--hover-info m-btn--icon m-btn--icon-only m-btn--pill"
                                     (click)="edit(car)"><i class="la la-edit"></i>
                                  </a>

                              </ng-template>
                          </p-column>
                          <p-column [style]="{'width':'60px'}" styleClass="col-button">
                              <ng-template pTemplate="header">
                              </ng-template>
                              <ng-template let-car="rowData" pTemplate="body">
                                  <a  [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,rights.ROLLER]" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill"
                                     data-toggle="modal"
                                     data-target="#delete_modal" (click)="remove(car)"><i
                                          class="la la-trash"></i>
                                  </a>
                              </ng-template>
                          </p-column>


                          <ng-template pTemplate="paginatorLeft"><span class="total-records-count"> {{'table.label.totalCount' | translate}} {{totalRecords}} </span></ng-template>
                          <ng-template pTemplate="emptymessage"><span class="text-center emptyTable">{{ 'table.label.emptyMessage' | translate}}</span> </ng-template>

                      </p-dataTable>
                      <!--end:: dataTable -->

                  </div>
              </div>
          </div>


      </div>
    </form>
      <!--begin::Modal-->

      <div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Silme İşlemi</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      <label>Silmek istediğinizden emin misiniz?</label>

                      <p-footer>
                          <ul>
                              <li *ngFor="let item of selectedItems" style="text-align: left">{{item.name}}</li>
                          </ul>
                      </p-footer>

                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">
                          <label>{{'actions.no' | translate}}</label>
                      </button>
                      <button type="button" class="btn btn-primary" (click)="removes()" data-dismiss="modal">
                          <label>{{'actions.yes' | translate}}</label>
                      </button>
                  </div>
              </div>
          </div>
      </div>


      <!--end::Modal-->


  </div>
</div>
