

      <div class="m-portlet__body">


        <div class="tab-content">
          <div class="tab-pane active" id="m_widget2_tab1_content">
            <div class="m-widget2">





                <div class="m-portlet__body">
                  <div class="m-form__section m-form__section--first">
                    <div class="form-group m-form__group row">
                      <label class="col-sm-2 col-form-label text-right">Marka</label>
                      <div class="col-sm-10">
                        <p-dropdown [options]="brands" placeholder="Marka" [(ngModel)]="model.brandId" [ngModelOptions]="{standalone: true}" (onChange)="setStores($event.value)" [style]="{width:'400px'}"></p-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="m-form__section m-form__section">
                    <div class="form-group m-form__group row">
                      <label class="col-sm-2 col-form-label text-right">Mağaza</label>
                      <div class="col-sm-10">
                        <p-dropdown [options]="stores" placeholder="Mağaza" [(ngModel)]="model.storeId" [ngModelOptions]="{standalone: true}" (onChange)="getStores($event.value)" [style]="{width:'400px'}"  [filter]="true"></p-dropdown>
                      </div>
                    </div>
                  </div>



                  <div class="m-form__section m-form__section">
                    <div class="form-group m-form__group row">
                      <label class="col-sm-2 col-form-label text-right">Pozisyon</label>
                      <div class="col-sm-10">
                        <p-dropdown [options]="positions" placeholder="Pozisyon" [(ngModel)]="model.positionId" [ngModelOptions]="{standalone: true}" [style]="{width:'400px'}"></p-dropdown>
                      </div>
                    </div>
                  </div>

                  <div class="m-form__section m-form__section">
                    <div class="form-group m-form__group row">
                      <label class="col-sm-2 col-form-label text-right required">Yıl</label>
                      <div class="col-sm-10">
                        <p-dropdown [options]="years" placeholder="Yıl" [(ngModel)]="model.year" [ngModelOptions]="{standalone: true}" [style]="{width:'400px'}"></p-dropdown>
                      </div>
                    </div>
                  </div>
                </div>


                <div [hasRight]="[rights.DEGISTIRME,rights.DEGISTIRME,screen]"   style="margin-top: 20px; text-align: right">
                    <button type="button" class="btn btn-accent m-btn m-btn--icon m-btn--wide m-btn--md" (click)="submit()">
                    <span>
                      <i class="la la-check"></i>
                      <span>Draft Prim Hesapla</span>
                    </span>
                    </button>
                </div>



            </div>
          </div>
        </div>


      </div>


    <!--begin::Modal-->
    <div class="modal fade" id="process_bar_modal" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabelEdit"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabelEdit">
              İşlem Durumu
            </h5>

            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							&times;
						</span>
            </button>
            -->
          </div>
          <div class="modal-body">
            <div class="clearfix"></div>
                <div class="text-center">{{process}} / {{total}} </div>
              <progress-bar [progress]="progressValue" [color]="'#488aff'">
              </progress-bar>

            <div class="clearfix"></div>
          </div>
          <div class="modal-footer">
          <!--  <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Kapat
            </button>
            -->
          </div>
        </div>

      </div>
    </div>




